.backgrouund{
    background-color: darkslategrey;
    width: 50%;
}
.message {
   display:flex;
    align-items: flex-end;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.avatar {
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0,0,0,0)15px,rgba(255,255,255,0.3)0);
}
.name {
    font-size: 20px;
    font-weight: bold;
    color: teal;
    text-shadow: darkslategrey 1px 0 0 ;
}

.cont {
   padding: 10px;

    border-radius: 5px 5px 5px 0;
    background-color: rgba(255,255,255,0.3);

}

.time {
    display: flex;
    justify-content: flex-end;

    color: teal;
    text-shadow: black 1px 1px 0;
}